.customerContainer {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 35px;
  font-size: 14px;
  font-weight: 500;
}

.customerInput {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.checkbox-wrapper {
  display: inline-block;
  border: 1px solid;
  padding: 20px;
  margin: 0 15px;
}

@media only screen and (min-device-width: 768px) {
  .checkbox-wrapper {
      margin: 0;
  }
  label {
      font-size: 18px;
  }
}
