.deliveryInstructions {
  margin: 0 10px;
}

.delivery-wrapper {
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  margin: auto;
}

.delivery-cart-wrapper {
  display: inline-block;
  border: 1px solid black;
  padding: 30px;
}

.delivery-cart-title {
  margin-top: 0;
}

@media only screen and (min-width: 769px) {
  .delivery-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 30px;
  }
  .deliveryInstructions {
    width: 90%;
    margin: auto;
  }
  .delivery-cart-container {
    margin-right: 0;
  }
}
