.footer {
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px 0;
  background-color: #88b444;
  text-align: center;
  margin-top: 20px;
}

.footer_text {
  color: midnightblue;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 5px;
}