h3, p {
    padding: 0;
    margin: 0;
}

.accordion {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.accordion-item {
  border-bottom: 1px solid grey;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.active {
  font-size: 20px;
  color: red;
}

.accordion-title:hover {
  color: red;
}

.accordion-title, .accordion-content {
  padding: 1rem;
}

.helptext {
  margin-top: 25px !important;
}

@media only screen and (min-width: 768px) {
  .accordion {
    width: 70%;
  }
  .active {
    font-size: 25px;
  }
}